@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


/*global element styling*/
html {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

* {
  box-sizing: inherit;
  margin: 0px;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
}

body {
  background-image: linear-gradient(to top, #486091, #5c78b9);
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 30pt;
}

p {
  font-size: 20pt;
}

button {
  font-size: 15pt;
  border-radius: 15px;
  font-size: 15pt;
  background-color: #5c78b9;
}

/*global display classes*/
.hidden {
  display: none;
}

.dis-flex {
  display: flex;
}

.dis-flex-col {
  display: flex;
  flex-direction: column;
}

.game-panel {
  --gap-size: 25px;
  margin: 100px;
  width: 1200px;
  height: fit-content;
  flex-wrap: wrap;
  gap: var(--gap-size);
}

.start-panel {
  align-self: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: #37548d;
  border-radius: 20px;
  padding: 20px;
}

/* player selection panel */

.player-select-panel {
  width: fit-content;
  align-items: center;
  margin-top: 25px;
}

.bottom-wrapper {
  width: 100%;
}

#previous {
  align-self: flex-start;
  margin-right: auto;
}

#increase {
  align-self: flex-end;
  margin-left: auto;
}

#start-btn {
  margin: 10px;
}

#rules {
  --rules-size: 25px;
  position: absolute;
  width: var(--rules-size);
  height: var(--rules-size);
  border-radius: 20px;
  border: 1px solid white;
  align-self: flex-end;

  justify-content: center;
  align-items: center;
}

#rules:hover{ 
  transition-duration: 300ms;
  background: none;
  background-color: white;
}

/* user panels */
.user-panel {
 flex: 1 1 auto;
 align-items: center;

 border-radius: 20px;
 padding: 30px;
 background-color: rgba(256, 256, 256, .15);
 width: calc(50% - var(--gap-size));
}

.current-score-panel {
  padding: 16px;
  margin-top: 100px;
  background-color: #486091;
  border-radius: 10px;

  align-items: center;
}

/* game play elements */
.game-play-elements {
  align-items: center;
  align-self: center;
  gap: 70px;

  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: fit-content;
}

.game-play-btn {
  width: 120px;
  height: 40px;
}

#dice-img {
  width: 30%;
}

/* end-panel elements */
.end-panel {
  align-self: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  gap: 50px;
  background-color: #37548d;
  padding: 15px;
  border-radius: 15px;
  align-items: center;
}

.btn{
  --btn-width: 160px;
  width: var(--btn-width);
  padding: 10px;
}

#player-order-panel {
  width: 100%;
}

#player-order-panel p {
  display: inline;
  padding-left: 10px;
}

/* pop-over elements */
.popover-el{
  position: absolute;
  width: max-content;
}

.popover-btn{
  padding: 15px;
  background-color: white;
  border-radius: 15px;

  transform: translate(calc(-50% + calc(var(--btn-width) / 2)));
  bottom: -50px;
}

.pop-text{
  font-size: 15px;
}

#rules-pop-wrapper {
  width: 400px;
  height: fit-content;
  top: calc(var(--rules-size) + 10px);
  padding: 25px;
}