html {
  box-sizing: border-box;
}

*, * ::before, *::after {
  margin: 0px;
  box-sizing: inherit;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
}

.game-panel {
  margin: 100px;
  width: auto;
  height: fit-content;
  background-color: aquamarine;
}

.player-select-panel {
  width: 1000px;
  display: flex;
  justify-content: center;
}

