@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {

  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

* {
  box-sizing: inherit;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
}

.hidden {
  display: none;
}

.game-panel {
  margin: 100px;
  width: auto;
  height: fit-content;
  background-color: aquamarine;
}

.start-panel {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

/* player selection panel */
.player-select-panel {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-wrapper {
  width: 100%;
  display: flex;
}

#previous {
align-self: flex-start;
margin-right: auto;
}

#increase {
  align-self: flex-end;
  margin-left: auto;
}

#start-btn {
  margin: 10px;
}
/* user panels */